* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f172a;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.login {
  flex: 1;
  background-color: #020617;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f8fafc;
}

.login h1 {
  text-align: center;
  margin-bottom: 25px;
  /* margin bottom colocar magin no h1 */
}

.marketing {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #020617; /* exemplo */
  color: white;
  padding: 60px;
}

/* p {
    display: flex;
    justify-content: center;
} */

input {
  padding: 14px;
  width: 100%;
  border: 1px solid #334155;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  background-color: #020617;
  color: white;
}

input::placeholder {
  color: #94a3b8;
}

input:focus {
  border-color: #3b82f6;
}

button {
  background-color: #3b82f6;
  border: none;
  padding: 14px;
  width: 100%;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  margin-top: 15px;
}

button:hover {
  background-color: #2563eb;
  cursor: pointer;
}

#mensagem {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}
