* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.login {
    flex: 1;
    background-color: #020617;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f8fafc;
}

.login h1 {
    text-align: center;
    margin-bottom: 15px;
    /* margin bottom colocar magin no h1 */
}

.login-form {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.marketing {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #020617;
    color: white;
    padding: 60px;
}


#paragrafo-left {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
}

.login-form p {
    margin-bottom: 5px;
}

input {
    padding: 14px;
    width: 100%;
    border: 1px solid #334155;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    background-color: #020617;
    color: white;
}

input::placeholder {
    color: #94a3b8;
}

input:focus {
    border-color: #3b82f6;
}

#palavra-dinamica {
    color: #3b82f6;
    transition: opacity 0.3s ease;
}


/* pop de alerta na tela de erro de login */

.toast {
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    background: #ffffff;
    color: #1e293b;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.toast-icon {
    background: #fb7185;
    color: white;
    font-weight: bold;
    padding: 24px;
    font-size: 18px;
}

.toast-text {
    padding: 16px 20px;
    font-size: 14px;
    max-width: 260px;
}

button {
    background-color: #3b82f6;
    border: none;
    padding: 14px;
    width: 100%;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    margin-top: 15px;

    /* Transition para efeito de click */
    transition: transform 0.1s ease, box-shadow 0.1s ease;

}

button:active {
    transform: scale(0.96);
}

button:hover {
    background-color: #2563eb;
    cursor: pointer;
}

#mensagem {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}